{% extends "layout.html" %}
{% block body %}
	      <div class="jumbotron">
        <h1>Welcome to GrantRunner!</h1>
        <p class="lead">Facilitate your research activities with automated searches for government grants!</p>
        <a class="btn btn-large btn-success" href="#">Get started today</a>
      </div>

      <hr>

      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="span4">
          <h2>In Academia?</h2>
          <p>Placeholder for academics. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Part of a Non-Profit</h2>
          <p>Placeholder for non-profits. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Heading</h2>
          <p>TBD.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <div class="footer">
        <p>&copy; GrantRunner 2013</p>
      </div>
{% endblock %}